!!! 5
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  %meta(charset="utf-8")
  %title MVCSS Library - Buttons
  %link(href="../application.css" rel="stylesheet")
%body
  .row-a
    .cell
      %h1 Buttons

  %section.composition
    .row
      .cell
        .card-a
          %h2 Standard Buttons
          %a.btn-a(href="buttons/index.html") Button
          %a.btn-b(href="buttons/index.html") Button
          %a.btn-c(href="buttons/index.html") Button
        .card-a
          %h2 Full-width Buttons
          %a.btn-a.btn-block(href="buttons/index.html") Button
          %a.btn-b.btn-block(href="buttons/index.html") Button
          %a.btn-c.btn-block(href="buttons/index.html") Button

</html>
