//-------------------------------------
//  Buttons
//-------------------------------------

// Button Variables

$btn-padding: 10px 30px !default

$color-btn--a-bg: $color-highlight
$color-btn--a: #FFF
$color-btn--b-bg: $color-border
$color-btn--b: $color-base

// ----- Base Button ----- //

%btn, .btn
  border-radius: $border-radius
  border: 0
  cursor: pointer
  display: inline-block
  font-size: em(14px)
  padding: $btn-padding
  text-align: center
  &:focus,
  &:hover
    text-decoration: none

// Modifiers //

// Button A

.btn--a
  @extend %btn
  background: $color-btn--a-bg
  color: $color-btn--a
  &:focus,
  &:hover
    background: darken($color-btn--a-bg, 5%)

// Button B

.btn--b
  @extend %btn
  background: $color-btn--b-bg
  color: $color-btn--b
  &:focus,
  &:hover
    background: darken($color-btn--b-bg, 5%)

// Button Block

.btn--block
  display: block

// Button Large

.btn--large
  font-size: em(20px)
  padding-left: em(100px, 20px)
  padding-right: em(100px, 20px)

// Button Small

.btn--small
  font-size: em(12px)
  letter-spacing: em(1px, 12px)
  text-transform: uppercase

// Button Mini

.btn--mini
  font-size: em(10px)
  letter-spacing: em(1px, 10px)
  text-transform: uppercase
