//-------------------------------------
//  Global
//-------------------------------------
//
// ----- Colors ----- //
//
//  $color-module-sub-[bg,border,color]
//  $color-module-sub-[bg,border,color]-[state]
//
// ----- Fonts ----- //
//
//  $font-module-sub
//
// ----- Styles ----- //
//
//  $module-sub-[style]
//
//-------------------------------------

// ----- Settings ----- //

$development: false

// ----- Colors ----- //

// Base Colors

$color-base: #272829
$color-body: #EEE
$color-border: lighten($color-base, 50%)
$color-highlight: #BD4C28

// Utility Colors

$color-error: red
$color-success: green
$color-warning: yellow

// ----- Fonts ----- //

$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-header: 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-monospace: Monaco, monospace

// ----- Borders ----- //

$border-radius: 3px
$border-style: 2px solid $color-border

// ----- Box Shadows ----- //

$box-shadow: 0 1px 1px rgba(#000, 0.2)

// ----- Typography ----- //

$base-font-size: 16px
$base-line-height: 24px

//-------------------------------------
//  Buttons
//-------------------------------------

$btn-padding: 10px 30px

//-------------------------------------
//  Containers
//-------------------------------------

// ----- Rows ----- //

$row-margin: 0
$row-padding: 20px 0

$color-row--a: #FFF
$color-row--b: lighten($color-base, 65%)
$color-row--c: lighten($color-base, 75%)

// ----- Cells ----- //

$cell-padding: 0 80px
$cell-width: 980px

// ----- Cards ----- //

$card-margin: 20px 0
$card-padding: 15px

$color-card--a: #FFF
$color-card--b: lighten($color-base, 65%)
$color-card--c: lighten($color-base, 75%)

// ----- Buckets ----- //

$bucket-sizes: 75px, 50px

//-------------------------------------
//  Forms
//-------------------------------------

$color-form-input-bg: #FFF
$color-form-input-border: 1px solid $color-border
$form-font-size: 16px
$form-input-focus: 0 0 3px rbga($color-highlight, 0.8)

//-------------------------------------
//  Grids
//-------------------------------------

$grid-gutter: 5%

//-------------------------------------
//  Tables
//-------------------------------------

$color-table--striped-bg: lighten($color-border, 30%)
$color-table-row-border: 1px solid $color-border
$font-table: 14px

//-------------------------------------
//  Tabs
//-------------------------------------

$color-tab-bg: lighten($color-border, 20%)
$color-tab-active-bg: #FFF
