//-------------------------------------
//  Imports
//-------------------------------------

@import "compass"
@import "compass/layout"

@import "config"

@import "partials/reset"
@import "partials/settings"
@import "partials/base"

//-------------------------------------
//  Modules
//-------------------------------------

@import "partials/buttons"
@import "partials/containers"
@import "partials/content"
@import "partials/dropdowns"
@import "partials/forms"
@import "partials/grids"
@import "partials/icons"
@import "partials/lists"
@import "partials/modals"
@import "partials/popovers"
@import "partials/tables"
@import "partials/tooltips"

//-------------------------------------
//  Docs
//-------------------------------------

// ----- Header ----- //

.site-header
  background: $color-base
  box-shadow: none
  h1, h2
    color: #FFF
  h2
    +adjust-font-size-to(24px)
    +adjust-leading-to(2, 24px)
    color: lighten($color-base, 40%)
    font-weight: normal
  .btn-a
    +leader
    float: right
    width: 80%

// ----- Content ----- //

.content .grid
  +grid(20%, 80%)

// Examples

.example-label
  +adjust-font-size-to(12px, 1)
  background: lighten($color-base, 75%)
  font-family: $font-monospace
  padding-left: $base-line-height
  padding-right: $base-line-height
  position: absolute
  right: 0
  top: 0

// ----- Section List ----- //

.section-list li
  +adjust-font-size-to(16px)
  +adjust-leading-to(1)
  a
    +trailer(.5)
    color: $color-base
    display: block
    &.active
      color: $color-highlight
