/* line 9, core/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 28, core/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, core/_reset.sass */
body {
  line-height: 1; }

/* line 33, core/_reset.sass */
ol, ul {
  list-style: none; }

/* line 35, core/_reset.sass */
blockquote, q {
  quotes: none; }

/* line 37, core/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* line 41, core/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 74, core/_settings.sass */
.form--inline .form-field, .grid--a, .grid--b, .grid--c, .grid {
  zoom: 1; }
  /* line 76, core/_settings.sass */
  .form--inline .form-field:before, .grid--a:before, .grid--b:before, .grid--c:before, .grid:before, .form--inline .form-field:after, .grid--a:after, .grid--b:after, .grid--c:after, .grid:after {
    content: "";
    display: table; }
  /* line 80, core/_settings.sass */
  .form--inline .form-field:after, .grid--a:after, .grid--b:after, .grid--c:after, .grid:after {
    clear: both; }

/* line 5, core/_base.sass */
html {
  background: #eeeeee;
  font-size: 16px; }

/* line 10, core/_base.sass */
body {
  color: #272829;
  font: 62.5%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 18, core/_base.sass */
h1, h2, h3,
h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }

/* line 22, core/_base.sass */
h1, .h1 {
  font-size: 4em; }

/* line 24, core/_base.sass */
h2, .h2 {
  font-size: 3.5em; }

/* line 26, core/_base.sass */
h3, .h3 {
  font-size: 3em; }

/* line 28, core/_base.sass */
h4, .h4 {
  font-size: 2.5em; }

/* line 30, core/_base.sass */
h5, .h5 {
  font-size: 2em; }

/* line 32, core/_base.sass */
h6, .h6 {
  font-size: 1.6em; }

/* line 37, core/_base.sass */
p {
  color: #4c4e50;
  font-size: 1.6em;
  margin: 10px 0; }

/* line 46, core/_base.sass */
a {
  color: #bd4c28;
  text-decoration: none; }
  /* line 49, core/_base.sass */
  a:hover, a:focus {
    text-decoration: underline; }

/* line 55, core/_base.sass */
em {
  font-style: italic; }

/* line 57, core/_base.sass */
strong {
  font-weight: bold; }

/* line 11, modules/_buttons.sass */
.btn--a, .btn {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4em;
  padding: 10px 30px;
  text-align: center; }
  /* line 19, modules/_buttons.sass */
  .btn--a:focus, .btn--a:hover, .btn:focus, .btn:hover {
    text-decoration: none; }

/* line 25, modules/_buttons.sass */
.btn--a {
  background: #bd4c28;
  color: white; }
  /* line 29, modules/_buttons.sass */
  .btn--a:focus, .btn--a:hover {
    background: #a84424; }

/* line 32, modules/_buttons.sass */
.btn--block {
  display: block; }

/* line 34, modules/_buttons.sass */
.btn--large {
  font-size: 2em;
  padding-left: 100px;
  padding-right: 100px; }

/* line 38, modules/_buttons.sass */
.btn--small {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

/* line 42, modules/_buttons.sass */
.btn--mini {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

/* line 18, modules/_containers.sass */
.row--a, .row--b, .row--c, .row {
  margin: 0;
  padding: 20px 0; }

/* line 24, modules/_containers.sass */
.row--a {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 28, modules/_containers.sass */
.row--b {
  background-color: #e7e7e8; }

/* line 31, modules/_containers.sass */
.row--c {
  background-color: white; }

/* line 44, modules/_containers.sass */
.cell {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 80px;
  position: relative; }

/* line 63, modules/_containers.sass */
.card--a, .card--b, .card--c, .card {
  border-radius: 3px;
  margin: 20px 0;
  padding: 15px;
  position: relative; }

/* line 71, modules/_containers.sass */
.card--a {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 75, modules/_containers.sass */
.card--b {
  background: #cdcecf; }

/* line 78, modules/_containers.sass */
.card--c {
  background: #e7e7e8; }

/* line 90, modules/_containers.sass */
.bucket--01, .bucket--02 {
  position: relative; }

/* line 95, modules/_containers.sass */
.bucket-media {
  left: 0;
  position: absolute;
  top: 0; }

/* line 105, modules/_containers.sass */
.bucket--01 .bucket-content {
  padding-left: 90px; }

/* line 105, modules/_containers.sass */
.bucket--02 .bucket-content {
  padding-left: 65px; }

/* line 9, modules/_content.sass */
.composition h1 {
  line-height: 1.8em; }
/* line 12, modules/_content.sass */
.composition h2 {
  line-height: 2.05714em; }
/* line 15, modules/_content.sass */
.composition h3 {
  line-height: 2.4em; }
/* line 20, modules/_content.sass */
.composition p {
  margin-bottom: 1.5em; }
/* line 25, modules/_content.sass */
.composition blockquote {
  border-left: 5px solid #a5a8aa;
  color: #8b8e91;
  font-size: 2em;
  line-height: 2.4em;
  padding-left: 20px; }
/* line 34, modules/_content.sass */
.composition pre {
  background: white;
  font-family: Monaco, monospace;
  font-size: 1.4em;
  line-height: 1.71429em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px; }

/* line 11, modules/_forms.sass */
.form {
  margin: 20px 0; }

/* line 19, modules/_forms.sass */
.form--inline .form-input {
  float: left;
  margin-right: 2%;
  width: 70%; }
/* line 23, modules/_forms.sass */
.form--inline .form-submit {
  float: left;
  width: 28%; }

/* line 29, modules/_forms.sass */
.form-header {
  margin-bottom: 10px; }

/* line 34, modules/_forms.sass */
.form-field {
  margin-bottom: 20px; }

/* line 39, modules/_forms.sass */
.form-field--submit {
  margin-top: 40px; }

/* line 44, modules/_forms.sass */
.form-label {
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 5px; }
  /* line 49, modules/_forms.sass */
  .form-label em {
    color: red; }

/* line 54, modules/_forms.sass */
.form-label--radio,
.form-label--check {
  font-size: 1.4em;
  font-weight: normal; }

/* line 61, modules/_forms.sass */
.form-note {
  color: #8b8e91;
  font-size: 1.4em;
  margin-top: 5px; }

/* line 68, modules/_forms.sass */
.form-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 1px solid #a5a8aa;
  border-radius: 3px;
  box-shadow: inset 0 2px 1px rbga(black, 0.15);
  font-size: 1.4em;
  padding: 10px 8px;
  width: 100%; }
  /* line 77, modules/_forms.sass */
  .form-input:focus {
    box-shadow: 0 0 3px rgba(165, 168, 170, 0.8);
    outline: none; }

/* line 83, modules/_forms.sass */
.form-select {
  width: 30%; }

/* line 48, core/_settings.sass */
.grid--a .grid-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 50, core/_settings.sass */
  .grid--a .grid-box:first-child {
    float: left;
    padding-right: 5%;
    width: 50%; }
  /* line 54, core/_settings.sass */
  .grid--a .grid-box:last-child {
    float: right;
    width: 50%; }

/* line 48, core/_settings.sass */
.grid--b .grid-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 50, core/_settings.sass */
  .grid--b .grid-box:first-child {
    float: left;
    padding-right: 5%;
    width: 60%; }
  /* line 54, core/_settings.sass */
  .grid--b .grid-box:last-child {
    float: right;
    width: 40%; }

/* line 48, core/_settings.sass */
.grid--c .grid-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 50, core/_settings.sass */
  .grid--c .grid-box:first-child {
    float: left;
    padding-right: 5%;
    width: 70%; }
  /* line 54, core/_settings.sass */
  .grid--c .grid-box:last-child {
    float: right;
    width: 30%; }

/* line 7, modules/_tables.sass */
.table {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.6em;
  margin: 20px 0;
  width: 100%; }

/* line 18, modules/_tables.sass */
.table--striped .table-body tr:nth-child(odd) {
  background: #f4f4f4; }

/* line 23, modules/_tables.sass */
.table-row {
  border-bottom: 1px solid #a5a8aa; }
  /* line 28, modules/_tables.sass */
  .table-row th, .table-row td {
    padding: 8px; }
  /* line 31, modules/_tables.sass */
  .table-row th {
    font-weight: bold;
    text-align: left; }
  /* line 37, modules/_tables.sass */
  .table-row td .btn {
    font-size: 1em;
    padding-bottom: 5px;
    padding-top: 5px; }

/* line 44, application.sass */
.siteHeader {
  background: #272829;
  box-shadow: none; }
  /* line 48, core/_settings.sass */
  .siteHeader .grid .grid-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 50, core/_settings.sass */
    .siteHeader .grid .grid-box:first-child {
      float: left;
      padding-right: 5%;
      width: 65%; }
    /* line 54, core/_settings.sass */
    .siteHeader .grid .grid-box:last-child {
      float: right;
      width: 35%; }
  /* line 49, application.sass */
  .siteHeader h1, .siteHeader h2 {
    color: white; }
  /* line 51, application.sass */
  .siteHeader h2 {
    font-size: 2.4em;
    color: #8b8e91;
    font-weight: normal; }
  /* line 55, application.sass */
  .siteHeader .btn--a {
    font-size: 1.8em;
    margin-top: 25px; }

/* line 48, core/_settings.sass */
.content .grid .grid-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 50, core/_settings.sass */
  .content .grid .grid-box:first-child {
    float: left;
    padding-right: 5%;
    width: 20%; }
  /* line 54, core/_settings.sass */
  .content .grid .grid-box:last-child {
    float: right;
    width: 80%; }

/* line 66, application.sass */
.example h4 {
  margin-bottom: 10px; }

/* line 68, application.sass */
.example-label {
  background: #e7e7e8;
  font-family: Monaco, monospace;
  font-size: 1.2em;
  padding: 10px 24px;
  position: absolute;
  right: 0;
  top: -10px; }

/* line 76, application.sass */
.example-markup {
  background: #e7e7e8;
  font-family: Monaco, monospace;
  font-size: 1.3em;
  margin-top: 10px;
  overflow-x: scroll;
  padding: 10px 24px; }

/* line 86, application.sass */
.sectionList li {
  font-size: 1.6em;
  margin-top: 15px; }
  /* line 89, application.sass */
  .sectionList li a {
    color: #272829;
    display: block;
    margin-bottom: 10px; }
    /* line 93, application.sass */
    .sectionList li a.active {
      color: #bd4c28; }
