/* line 5, _reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 24, _reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 27, _reset.sass */
body {
  line-height: 1; }

/* line 29, _reset.sass */
ol, ul {
  list-style: none; }

/* line 31, _reset.sass */
blockquote, q {
  quotes: none; }

/* line 33, _reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* line 37, _reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 42, _settings.sass */
.grid-a, .grid-b, .grid-c, .grid {
  zoom: 1; }
  /* line 44, _settings.sass */
  .grid-a:before, .grid-b:before, .grid-c:before, .grid:before, .grid-a:after, .grid-b:after, .grid-c:after, .grid:after {
    content: "";
    display: table; }
  /* line 48, _settings.sass */
  .grid-a:after, .grid-b:after, .grid-c:after, .grid:after {
    clear: both; }

/* line 61, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%; }

/* line 64, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em; }

/* line 8, _base.sass */
html {
  background: #eeeeee; }

/* line 16, _base.sass */
body {
  color: #272829;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 27, _base.sass */
h1, h2, h3,
h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }

/* line 31, _base.sass */
h1, .h1 {
  font-size: 2.5em;
  line-height: 1.2em; }

/* line 36, _base.sass */
h2, .h2 {
  font-size: 2.1875em;
  line-height: 1.37143em; }

/* line 41, _base.sass */
h3, .h3 {
  font-size: 1.875em;
  line-height: 1.6em; }

/* line 46, _base.sass */
h4, .h4 {
  font-size: 1.5625em;
  line-height: 1.92em; }

/* line 51, _base.sass */
h5, .h5 {
  font-size: 1.25em;
  line-height: 1.2em; }

/* line 56, _base.sass */
h6, .h6 {
  font-size: 1em;
  line-height: 1.5em; }

/* line 64, _base.sass */
p {
  color: #4c4e50;
  font-size: 1em;
  line-height: 1.5em; }

/* line 76, _base.sass */
a {
  color: #bd4c28;
  text-decoration: none; }
  /* line 79, _base.sass */
  a:hover, a:focus {
    text-decoration: underline; }

/* line 85, _base.sass */
em {
  font-style: italic; }

/* line 87, _base.sass */
strong {
  font-weight: bold; }

/* line 10, buttons/_buttons.sass */
.btn-a, .btn {
  border-radius: 3px;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  line-height: 3em;
  margin-bottom: 1.5em; }
  /* line 16, buttons/_buttons.sass */
  .btn-a:focus, .btn-a:hover, .btn:focus, .btn:hover {
    text-decoration: none; }
  /* line 26, buttons/_buttons.sass */
  .btn-block.btn-a, .btn.btn-block {
    display: block; }

/* line 29, buttons/_buttons.sass */
.btn-a {
  background: #bd4c28;
  color: white; }
  /* line 33, buttons/_buttons.sass */
  .btn-a:focus, .btn-a:hover {
    background: #a84424; }

/* line 33, containers/_containers.sass */
.row-a, .row-b, .row-c, .row {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

/* line 40, containers/_containers.sass */
.row-a {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 44, containers/_containers.sass */
.row-b {
  background-color: #e7e7e8; }

/* line 47, containers/_containers.sass */
.row-c {
  background-color: white; }

/* line 53, containers/_containers.sass */
.cell {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 80px;
  position: relative; }

/* line 61, containers/_containers.sass */
.card-a, .card {
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 20px;
  padding-right: 20px; }

/* line 69, containers/_containers.sass */
.card-a {
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 77, containers/_containers.sass */
.bucket-01, .bucket-02 {
  position: relative; }
  /* line 79, containers/_containers.sass */
  .bucket-01 .bucket-media, .bucket-02 .bucket-media {
    left: 0;
    position: absolute;
    top: 0; }

/* line 86, containers/_containers.sass */
.bucket-01 .bucket-content {
  padding-left: 90px; }

/* line 86, containers/_containers.sass */
.bucket-02 .bucket-content {
  padding-left: 65px; }

/* line 9, content/_content.sass */
.composition h1 {
  line-height: 1.8em; }
/* line 15, content/_content.sass */
.composition h2 {
  line-height: 2.05714em; }
/* line 21, content/_content.sass */
.composition h3 {
  line-height: 1.6em; }
/* line 29, content/_content.sass */
.composition p {
  margin-bottom: 1.5em; }
/* line 37, content/_content.sass */
.composition blockquote {
  border-left: 5px solid #727477;
  color: #8b8e91;
  padding-left: 20px;
  font-size: 1.25em;
  line-height: 1.2em;
  line-height: 2.4em; }

/* line 16, grids/_grids.sass */
.grid-a > div, .grid-b > div, .grid-c > div, .grid > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 6, grids/_grids.sass */
.grid-a .box-a {
  float: left;
  padding-right: 5%;
  width: 50%; }
/* line 10, grids/_grids.sass */
.grid-a .box-b {
  float: right;
  width: 50%; }

/* line 6, grids/_grids.sass */
.grid-b .box-a {
  float: left;
  padding-right: 5%;
  width: 60%; }
/* line 10, grids/_grids.sass */
.grid-b .box-b {
  float: right;
  width: 40%; }

/* line 6, grids/_grids.sass */
.grid-c .box-a {
  float: left;
  padding-right: 5%;
  width: 70%; }
/* line 10, grids/_grids.sass */
.grid-c .box-b {
  float: right;
  width: 30%; }
