!!! 5
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  %meta(charset="utf-8")
  %title MVCSS Library
  %link(href="assets/css/application.css" rel="stylesheet")
%body
  / Header
  %header.row--a.siteHeader
    .cell.grid
      .grid-box
        %h1 MVCSS Library
        %h2 Markup Patterns &amp; JavaScript Components
      .grid-box
        %a.btn--a.btn--block(href="https://github.com/mvcss/library") Download Code &rarr;

  / Content
  %section.row.content
    .cell.grid
      %aside.grid-box
        %ul.sectionList
          %li <a href="#buttons" data-hash="#buttons">Buttons</a>
          %li <a href="#containers" data-hash="#containers">Containers</a>
          %li <a href="#content" data-hash="#content">Content</a>
          %li <a href="#dropdowns" data-hash="#dropdowns">Dropdowns</a>
          %li <a href="#forms" data-hash="#forms">Forms</a>
          %li <a href="#grids" data-hash="#grids">Grids</a>
          %li <a href="#hash-urls" data-hash="#hash-urls">Hash URLs</a>
          %li <a href="#icons" data-hash="#icons">Icons</a>
          %li <a href="#lists" data-hash="#lists">Lists</a>
          %li <a href="#modals" data-hash="#modals">Modals</a>
          %li <a href="#popovers" data-hash="#popovers">Popovers</a>
          %li <a href="#tables" data-hash="#tables">Tables</a>
          %li <a href="#tabs" data-hash="#tabs">Tabs</a>
          %li <a href="#tooltips" data-hash="#tooltips">Tooltips</a>
      .grid-box
        / Buttons
        .contentSection#buttons
          %h3 Buttons
          / Default Button
          .card--a.example
            %h4 Default Button
            %p.example-label .btn--a
            .example-output
              %a.btn--a(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn--a(href="#") Button
          / Secondary Button
          .card--a.example
            %h4 Secondary Button
            %p.example-label .btn--b
            .example-output
              %a.btn--b(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn--b(href="#") Button
          / Full-width Button
          .card--a.example
            %h4 Full-width Button
            %p.example-label .btn--a.btn--block
            .example-output
              %a.btn--a.btn--block(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn--a.btn--block(href="#") Button
          / Multiple Buttons
          .card--a.example
            %h4 Multiple Buttons
            %p.example-label .btn--a
            .example-output
              %a.btn--a(href="#") Button
              %a.btn--a(href="#") Button
              %a.btn--a(href="#") Button
              %a.btn--a(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn--a(href="#") Button
                  %a.btn--a(href="#") Button
                  %a.btn--a(href="#") Button
                  %a.btn--a(href="#") Button
          / Large Button
          .card--a.example
            %h4 Large Button
            %p.example-label .btn--a.btn--large
            .example-output
              %a.btn--a.btn--large(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn--a.btn--large(href="#") Button
          / Small Button
          .card--a.example
            %h4 Small Button
            %p.example-label .btn--a.btn--small
            .example-output
              %a.btn--a.btn--small(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn--a.btn--small(href="#") Button
          / Mini Button
          .card--a.example
            %h4 Mini Button
            %p.example-label .btn--a.btn--mini
            .example-output
              %a.btn--a.btn--mini(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn--a.btn--mini(href="#") Button
        / Containers
        .contentSection#containers
          %h3 Containers
        / Content
        .contentSection#content
          %h3 Content
        / Dropdowns
        .contentSection#dropdowns
          %h3 Dropdowns
        / Forms
        .contentSection#forms
          %h3 Forms
          .card--a.example
            %h4 Basic Form
            %p.example-label .form
            .example-output
              %form.form(methd="post" action="")
                %fieldset.form-field
                  %label.form-label(for="name") Name: <em>*</em>
                  %input.form-input(type="text" name="name" placeholder="Enter your name")
                  %p.form-note I hope you remember your name, because you need to enter it.

                %fieldset.form-field
                  %label.form-label(for="email") Email: <em>*</em>
                  %input.form-input(type="email" name="email" placeholder="Enter your email")

                %fieldset.form-field
                  %label.form-label(for="password") Password: <em>*</em>
                  %input.form-input(type="password" name="password")
                  %p.form-note <a href="#">Forgot your password?</a>

                %fieldset.form-field
                  %label.form-label(for="select") Select your lunch today:
                  %select.form-select
                    %option(value="empty") Choose one:
                    %option(value="item") Hamburger and fries
                    %option(value="item") Salad
                    %option(value="item") Enchilada
                    %option(value="item") Salmon

                %fieldset.form-field
                  %label.form-label(for="radio") Select your gender:
                  %ul
                    %li
                      %label.form-label.form-label--radio(for="male") <input type="radio" name="male" /> Male
                    %li
                      %label.form-label.form-label--radio(for="female") <input type="radio" name="female" /> Female
                    %li
                      %label.form-label.form-label--radio(for="other") <input type="radio" name="other" /> Other

                %fieldset.form-field
                  %label.form-label(for="notes") Extra notes:
                  %textarea.form-input(name="notes")

                %fieldset.form-field
                  %label.form-label(for="select") Select an option:
                  %label.form-label.form-label--check(for="check") <input type="checkbox" name="check" /> Yes, I would like to receive tri-daily emails from your service.

                %fieldset.form-field.form-field--submit
                  %input.btn--a(type="submit" value="Submit")
            .example-markup
              %pre
                :preserve
                  %form.form(methd="post" action="")
                    %fieldset.form-field
                      %label.form-label(for="name") Name: <em>*</em>
                      %input.form-input(type="text" name="name" placeholder="Enter your name")
                      %p.form-note I hope you remember your name, because you need to enter it.

                    %fieldset.form-field
                      %label.form-label(for="email") Email: <em>*</em>
                      %input.form-input(type="email" name="email" placeholder="Enter your email")

                    %fieldset.form-field
                      %label.form-label(for="password") Password: <em>*</em>
                      %input.form-input(type="password" name="password")
                      %p.form-note
                        %a(href="#") Forgot your password?

                    %fieldset.form-field
                      %label.form-label(for="select") Select your lunch today:
                      %select.form-select
                        %option(value="empty") Choose one:
                        %option(value="item") Hamburger and fries
                        %option(value="item") Salad
                        %option(value="item") Enchilada
                        %option(value="item") Salmon

                    %fieldset.form-field
                      %label.form-label(for="radio") Select your gender:
                      %ul
                        %li
                          %label.form-label.form-label--radio(for="male")
                            %input(type="radio" name="male") Male
                        %li
                          %label.form-label.form-label--radio(for="female")
                            %input(type="radio" name="female") Female
                        %li
                          %label.form-label.form-label--radio(for="other")
                            %input(type="radio" name="other") Other

                    %fieldset.form-field
                      %label.form-label(for="notes") Extra notes:
                      %textarea.form-input(name="notes")

                    %fieldset.form-field
                      %label.form-label(for="select") Select an option:
                      %label.form-label.form-label--check(for="check")
                        %input(type="checkbox" name="check") Yes, I would like to receive tri-daily emails from your service.

                    %fieldset.form-field.form-field--submit
                      %input.btn--a(type="submit" value="Submit")

          .card--a.example
            %h4 Inline Form
            %p.example-label .form.form--inline
            .example-output
              %form.form.form--inline(methd="post" action="")
                %fieldset.form-field
                  %input.form-input(type="text" placeholder="Enter your search team")
                  %input.btn--a.form-submit(type="submit" value="Search")
            .example-markup
              %pre
                :preserve
                  %form.form.form--inline(methd="post" action="")
                    %fieldset.form-field
                      %input.form-input(type="text" placeholder="Enter your search team")
                      %input.btn--a.form-submit(type="submit" value="Search")
        / Grids
        .contentSection#grids
          %h3 Grids
        / Hash URLs
        .contentSection#hash-urls
          %h3 Hash URLs
          .card--a.example
            %h4 Markup
            %p.example-label Haml
            .example-markup
              %pre
                :preserve
                  %ul.sectionList
                    %li
                      %a(href="#example-01" data-hash="#example-01") Example 1
                    %li
                      %a(href="#example-02" data-hash="#example-02") Example 2

                  .contentSection#example-01
                    %h2 Example 01
                  .contentSection#example-02
                    %h2 Example 02
          .card--a.example
            %h4 JavaScript
            %p.example-label JavaScript
            .example-markup
              %pre
                :preserve
                  $.hashURLs({
                    list: $('.sectionList a'),
                    content: $('.contentSection')
                  });
        / Icons
        .contentSection#icons
          %h3 Icons
        / Lists
        .contentSection#lists
          %h3 Lists
        / Modals
        .contentSection#modals
          %h3 Modals
        / Popovers
        .contentSection#popovers
          %h3 Popovers
        / Tables
        .contentSection#tables
          %h3 Tables
          .card--a.example
            %h4 Standard Table
            %p.example-label .table
            .example-output
              %table.table
                %thead.table-head
                  %tr.table-row
                    %th #
                    %th First Name
                    %th Last Name
                    %th Email
                    %th Controls
                %tbody.table-body
                  %tr.table-row
                    %td 1
                    %td Drew
                    %td Barontini
                    %td drew@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 2
                    %td Nick
                    %td Walsh
                    %td nick@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 3
                    %td Jason
                    %td VanLue
                    %td jason@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 4
                    %td Tim
                    %td Dikun
                    %td tim@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 5
                    %td Justin
                    %td Mezzell
                    %td justin@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 6
                    %td Dan
                    %td Denney
                    %td dan@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 7
                    %td Jordan
                    %td Wade
                    %td jordanw@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
              .example-markup
                %pre
                  :preserve
                    %table.table
                      %thead.table-head
                        %tr.table-row
                          %th #
                          %th First Name
                          %th Last Name
                          %th Email
                          %th Controls
                      %tbody.table-body
                        %tr.table-row
                          %td 1
                          %td Drew
                          %td Barontini
                          %td drew@envylabs.com
                          %td.table-controls
                            %a.btn.btn--a(href="#") Edit
                            %a.btn.btn--a(href="#") Delete
          .card--a.example
            %h4 Striped Table
            %p.example-label .table.table--striped
            .example-output
              %table.table.table--striped
                %thead.table-head
                  %tr.table-row
                    %th #
                    %th First Name
                    %th Last Name
                    %th Email
                    %th Controls
                %tbody.table-body
                  %tr.table-row
                    %td 1
                    %td Drew
                    %td Barontini
                    %td drew@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 2
                    %td Nick
                    %td Walsh
                    %td nick@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 3
                    %td Jason
                    %td VanLue
                    %td jason@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 4
                    %td Tim
                    %td Dikun
                    %td tim@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 5
                    %td Justin
                    %td Mezzell
                    %td justin@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 6
                    %td Dan
                    %td Denney
                    %td dan@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
                  %tr.table-row
                    %td 7
                    %td Jordan
                    %td Wade
                    %td jordanw@envylabs.com
                    %td.table-controls
                      %a.btn.btn--a(href="#") Edit
                      %a.btn.btn--a(href="#") Delete
              .example-markup
                %pre
                  :preserve
                    %table.table.table--striped
                      %thead.table-head
                        %tr.table-row
                          %th #
                          %th First Name
                          %th Last Name
                          %th Email
                          %th Controls
                      %tbody.table-body
                        %tr.table-row
                          %td 1
                          %td Drew
                          %td Barontini
                          %td drew@envylabs.com
                          %td.table-controls
                            %a.btn.btn--a(href="#") Edit
                            %a.btn.btn--a(href="#") Delete
        / Tabs
        .contentSection#tabs
          %h3 Tabs
          .card--b.example
            .example-label.example-label--b .tabs
            .example-output
              %ul.tabs
                %li.tab <a class="is-active" href="#one">Item One</a>
                %li.tab <a href="#two">Item Two</a>
                %li.tab <a href="#three">Item Three</a>
                %li.tab <a href="#four">Item Four</a>
              .card--a.tabs-content.is-visible#one
                %h2 Item One
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .card--a.tabs-content#two
                %h2 Item Two
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .card--a.tabs-content#three
                %h2 Item Three
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              .card--a.tabs-content#four
                %h2 Item Four
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .example-markup.example-markup--b
              %pre
                :preserve
                  %ul.tabs
                    %li.tab
                      %a.is-active(href="#one") Item One
                    %li.tab
                      %a(href="#one") Item One
                    %li.tab
                      %a(href="#one") Item One
                    %li.tab
                      %a(href="#one") Item One
                  .card--a.tabs-content.is-visible#one
                    %h2 Item One
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  .card--a.tabs-content#two
                    %h2 Item Two
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  .card--a.tabs-content#three
                    %h2 Item Three
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  .card--a.tabs-content#four
                    %h2 Item Four
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        / Tooltips
        .contentSection#tooltips
          %h3 Tooltips

  %script(type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js")
  %script(type="text/javascript" src="assets/javascripts/components/hash-urls.js")
  %script(type="text/javascript" src="assets/javascripts/application.js")

  :javascript
    $(function() {
      $.hashURLs({
        list: $('.sectionList a'),
        content: $('.contentSection')
      });
    });
</html>
