!!! 5
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  %meta(charset="utf-8")
  %title MVCSS Library
  %link(href="application.css" rel="stylesheet")
%body
  / Header
  %header.row-a.site-header
    .cell.grid-c
      .box-a
        %h1 MVCSS Library
        %h2 Markup Patterns &amp; JavaScript Components
      .box-b
        %a.btn-a(href="#") Download Code &rarr;

  / Content
  %section.row.content
    .cell.grid
      %aside.box-a
        %ul.section-list
          %li <a href="#buttons" data-hash="#buttons">Buttons</a>
          %li <a href="#containers" data-hash="#containers">Containers</a>
          %li <a href="#content" data-hash="#content">Content</a>
          %li <a href="#dropdowns" data-hash="#dropdowns">Dropdowns</a>
          %li <a href="#forms" data-hash="#forms">Forms</a>
          %li <a href="#grids" data-hash="#grids">Grids</a>
          %li <a href="#icons" data-hash="#icons">Icons</a>
          %li <a href="#lists" data-hash="#lists">Lists</a>
          %li <a href="#modals" data-hash="#modals">Modals</a>
          %li <a href="#popovers" data-hash="#popovers">Popovers</a>
          %li <a href="#tables" data-hash="#tables">Tables</a>
          %li <a href="#tabs" data-hash="#tabs">Tabs</a>
          %li <a href="#tooltips" data-hash="#tooltips">Tooltips</a>
      .box-b
        / Buttons
        .content-section#buttons
          %h3 Buttons
          / Default Button
          .card-a.example
            %h4 Default Button
            %p.example-label .btn-a
            .example-output
              %a.btn-a(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn-a(href="#") Button
          / Full-width Button
          .card-a.example
            %h4 Full-width Button
            %p.example-label .btn-a.btn-block
            .example-output
              %a.btn-a.btn-block(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn-a.btn-block(href="#") Button
          / Multiple Buttons
          .card-a.example
            %h4 Multiple Buttons
            %p.example-label .btn-a
            .example-output
              %a.btn-a(href="#") Button
              %a.btn-a(href="#") Button
              %a.btn-a(href="#") Button
              %a.btn-a(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn-a(href="#") Button
                  %a.btn-a(href="#") Button
                  %a.btn-a(href="#") Button
                  %a.btn-a(href="#") Button
          / Large Button
          .card-a.example
            %h4 Large Button
            %p.example-label .btn-a.btn-lrg
            .example-output
              %a.btn-a.btn-lrg(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn-a.btn-lrg(href="#") Button
          / Small Button
          .card-a.example
            %h4 Small Button
            %p.example-label .btn-a.btn-sm
            .example-output
              %a.btn-a.btn-sm(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn-a.btn-sm(href="#") Button
          / Mini Button
          .card-a.example
            %h4 Mini Button
            %p.example-label .btn-a.btn-mini
            .example-output
              %a.btn-a.btn-mini(href="#") Button
            .example-markup
              %pre
                :preserve
                  %a.btn-a.btn-mini(href="#") Button
        / Containers
        .content-section#containers
          %h3 Containers
        / Content
        .content-section#content
          %h3 Content
        / Dropdowns
        .content-section#dropdowns
          %h3 Dropdowns
        / Forms
        .content-section#forms
          %h3 Forms
        / Grids
        .content-section#grids
          %h3 Grids
        / Icons
        .content-section#icons
          %h3 Icons
        / Lists
        .content-section#lists
          %h3 Lists
        / Modals
        .content-section#modals
          %h3 Modals
        / Popovers
        .content-section#popovers
          %h3 Popovers
        / Tables
        .content-section#tables
          %h3 Tables
        / Tabs
        .content-section#tabs
          %h3 Tabs
        / Tooltips
        .content-section#tooltips
          %h3 Tooltips

  %script(type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js")
  %script(type="text/javascript" src="assets/javascripts/application.js")
</html>
