!!! 5
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  %meta(charset="utf-8")
  %title MVCSS Library
  %link(href="application.css" rel="stylesheet")
%body
  / Header
  %header.row--a.siteHeader
    .cell
      %h1 MVCSS Library
      %h2 Scratch File

  / Content
  %section.row.content
    .cell
      %h2 Module

      %table.table.table--striped
        %thead.table-head
          %tr.table-row
            %th.table-header #
            %th.table-header First Name
            %th.table-header Last Name
            %th.table-header Email
            %th.table-header Controls
        %tbody.table-body
          %tr.table-row
            %td.table-data 1
            %td.table-data Drew
            %td.table-data Barontini
            %td.table-data drew@envylabs.com
            %td.table-data
              %a.btn.btn--b(href="#") Edit
              %a.btn.btn--b(href="#") Delete
          %tr.table-row
            %td.table-data 2
            %td.table-data Nick
            %td.table-data Walsh
            %td.table-data nick@envylabs.com
            %td.table-data
              %a.btn.btn--b(href="#") Edit
              %a.btn.btn--b(href="#") Delete
          %tr.table-row
            %td.table-data 3
            %td.table-data Jason
            %td.table-data VanLue
            %td.table-data jason@envylabs.com
            %td.table-data
              %a.btn.btn--b(href="#") Edit
              %a.btn.btn--b(href="#") Delete
          %tr.table-row
            %td.table-data 4
            %td.table-data Tim
            %td.table-data Dikun
            %td.table-data tim@envylabs.com
            %td.table-data
              %a.btn.btn--b(href="#") Edit
              %a.btn.btn--b(href="#") Delete
          %tr.table-row
            %td.table-data 5
            %td.table-data Justin
            %td.table-data Mezzell
            %td.table-data justin@envylabs.com
            %td.table-data
              %a.btn.btn--b(href="#") Edit
              %a.btn.btn--b(href="#") Delete
          %tr.table-row
            %td.table-data 6
            %td.table-data Dan
            %td.table-data Denney
            %td.table-data dan@envylabs.com
            %td.table-data
              %a.btn.btn--b(href="#") Edit
              %a.btn.btn--b(href="#") Delete
          %tr.table-row
            %td.table-data 7
            %td.table-data Jordan
            %td.table-data Wade
            %td.table-data jordanw@envylabs.com
            %td.table-data
              %a.btn.btn--b(href="#") Edit
              %a.btn.btn--b(href="#") Delete


</html>
