//-------------------------------------
//  Tables
//-------------------------------------

// Table Variables

$table--striped-bg: lighten($color-border, 30%) !default
$table-row-border: 1px solid $color-border !default
$font-table: 1.4em !default

// ----- Table ----- //

.table
  +box-sizing(border-box)
  border-collapse: collapse
  border-spacing: 0
  font-size: $font-table
  margin: 20px 0
  width: 100%

// Table Modifiers //

.table--striped
  .table-body tr:nth-child(odd)
    background: $table--striped-bg

// ----- Table Row ----- //

.table-row
  border-bottom: $table-row-border

  // Table Header

  th, td
    padding: 8px

  th
    font-weight: bold
    text-align: left

  // Table Data

  td .btn
    font-size: 14px
    padding-bottom: 5px
    padding-top: 5px
