// *************************************
//
//   Bar
//   -> Sticky bar
//      CodePen: http://codepen.io/drewbarontini/pen/zuchq
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .has-bar[context]
//
// .bar[north|south|east|west header|footer fixed]
//   / ...
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

$bar-background: #333 !default

// ----- Sizing ----- //

$bar-height: 50px !default
$bar-space: 1.25em !default

// -------------------------------------
//   Base
// -------------------------------------

.bar
  background: $bar-background
  box-sizing: border-box
  height: $bar-height
  padding: 0 $bar-space
  position: absolute
  width: 100%

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Fixed ----- //

.bar--fixed
  position: fixed

// ----- Positioning ----- //

.bar--north
  top: 0

.bar--south
  bottom: 0

.bar--east
  right: 0

.bar--west
  left: 0

// ----- Types ----- //

.bar--header
  @extend .bar--north
  @extend .bar--east
  @extend .bar--west

.bar--footer
  @extend .bar--south
  @extend .bar--east
  @extend .bar--west

// -------------------------------------
//   Context
// -------------------------------------

.has-bar
  padding-top: $bar-height
  position: relative

.has-bar--content
  margin-top: $bar-space
