// *************************************
//
//   Form
//   -> User input environment
//      CodePen: http://codepen.io/drewbarontini/pen/mbIwj
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %form.form[s|l]
//
//   %fieldset.form-field[checkbox|inline|radio]
//
//     .form-field-item
//
//     %label.form-label
//
//     %input.form-input
//
//     %select.form-select
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

$form-input-background: #fff !default
$form-input-borderColor: #ddd !default
$form-input-focus-borderColor: #4e4e5b !default

// ----- Borders ----- //

$form-borderRadius: 2px !default
$form-input-border: 2px solid $form-input-borderColor !default

// ----- Typography ----- //

$form-fontSize: 100% !default
$form-fontSize-s: 90% !default

// ----- Sizing ----- //

$form-space: 1.25em !default
$form-space-xs: $form-space * 0.25 !default
$form-space-s: $form-space * 0.5 !default
$form-space-l: $form-space * 2 !default

// -------------------------------------
//   Base
// -------------------------------------

.form
  margin-bottom: $form-space

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

// Small

.form--s

  .form-field
    margin-bottom: $form-space-s

// Large

.form--l

  .form-field
    margin-bottom: $form-space-l

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Field ----- //

.form-field
  border: 0
  margin: 0 0 $form-space
  padding: 0

// Checkbox & Radio

.form-field--checkbox,
.form-field--radio

  .form-input
    display: inline-block
    margin-right: $form-space-xs
    width: auto

  .form-label
    display: inline-block

// Inline

.form-field--inline

  .form-btn
    display: block
    line-height: 2.9
    min-width: 100%

// Item

.form-field-item
  margin-bottom: $form-space-s

  &:last-child
    margin-bottom: 0

// ----- Input ----- //

.form-input
  background: $form-input-background
  border: $form-input-border
  border-radius: $form-borderRadius
  box-sizing: border-box
  font-size: $form-fontSize
  padding: $form-space-s
  position: relative
  transition: border-color 0.2s ease-in-out
  width: 100%

  &:focus
    border-color: $form-input-focus-borderColor
    outline: none

// ----- Label ----- //

.form-label
  display: block
  font-size: $form-fontSize-s
  font-weight: bold
  margin-bottom: $form-space-xs

// ----- Select ----- //

.form-select
  min-width: 12.5em // ~200px
