// *************************************
//
//   Highlight
//   -> Highly stylized link background
//      Credit: http://www.webdesignerdepot.com/
//      CodePen: http://codepen.io/drewbarontini/pen/vOYgwE
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %a.highlight
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

$highlight-background: #f1c40f !default
$highlight-color: black !default

// ----- Borders ----- //

$highlight-border: 0 !default

// ----- Settings ----- //

$highlight-color-transition-speed: 0.5s !default

// ----- Text ----- //

$highlight-textDecoration: none !default

// -------------------------------------
//   Base
// -------------------------------------

.highlight
  background-image: linear-gradient(to right, rgba(white, 0) 50%, $highlight-background 50%)
  background-position: 0 0
  background-size: 200% auto
  border-bottom: $highlight-border
  color: $highlight-color
  text-decoration: $highlight-textDecoration
  transition: background-position $highlight-color-transition-speed ease-in-out

  &:active,
  &:focus,
  &:hover
    background-position: -100% 0
    color: $highlight-color
