// *************************************
//
//   Table
//   -> Tabular data
//      CodePen: http://codepen.io/drewbarontini/pen/uaBfq
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %table.table[striped]
//
//   %thead.table-header
//
//     %tr.table-row
//       %th.table-head
//
//   %tbody.table-body
//
//     %tr.table-row
//       %td.table-data
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

$table-borderColor: #ddd !default
$table--striped-row-background: #eee !default

// ----- Borders ----- //

$table-border: 2px solid $table-borderColor !default
$table-data-borderWidth: 1px !default

// ----- Typography ----- //

$table-fontSize-s: 90% !default
$table-fontSize: 16px !default
$table-lineHeight: 1.5 !default
$table-lineHeight-s: 1.2 !default

// ----- Sizing ----- //

$table-space: 1.25em !default
$table-space-s: $table-space * 0.5 !default

// -------------------------------------
//   Base
// -------------------------------------

.table
  width: 100%

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.table--s
  
  .table-data,
  .table-header,
  .table-head
    font-size: $table-fontSize-s
    line-height: $table-lineHeight-s
    padding: $table-space-s

// ----- Striped ----- //

.table--striped

  .table-body .table-row:nth-child(odd)
    background: $table--striped-row-background

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Shared ----- //

.table-data,
.table-header
  border-top: $table-border
  font-size: $table-fontSize
  line-height: $table-lineHeight
  padding: $table-space-s $table-space
  vertical-align: top

// ----- Data ----- //

.table-data
  border-top-width: $table-data-borderWidth

// ----- Header ----- //

.table-header
  border-top: 0
  text-align: left

// ----- Head ----- //

.table-head
  border-bottom: $table-border
  border-top: 0
  padding: $table-space-s $table-space
  text-align: left
