// *************************************
//
//   Thumb
//   -> Media element
//      CodePen: http://codepen.io/drewbarontini/pen/acGmE
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// %img.thumb[m]
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Borders ----- //

$thumb-borderRadius: 4px !default

// -------------------------------------
//   Base
// -------------------------------------

.thumb
  border-radius: 50%
  display: block

// -------------------------------------
//   Modifiers
// -------------------------------------

.thumb--m
  border-radius: $thumb-borderRadius
