/* line 9, ../stylesheets/core/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 28, ../stylesheets/core/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ../stylesheets/core/_reset.sass */
body {
  line-height: 1; }

/* line 33, ../stylesheets/core/_reset.sass */
ol, ul {
  list-style: none; }

/* line 35, ../stylesheets/core/_reset.sass */
blockquote, q {
  quotes: none; }

/* line 37, ../stylesheets/core/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* line 41, ../stylesheets/core/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 74, ../stylesheets/core/_settings.sass */
.form--inline .form-field, .grid--a, .grid--b, .grid--c, .grid, .tabs {
  zoom: 1; }
  /* line 76, ../stylesheets/core/_settings.sass */
  .form--inline .form-field:before, .grid--a:before, .grid--b:before, .grid--c:before, .grid:before, .tabs:before, .form--inline .form-field:after, .grid--a:after, .grid--b:after, .grid--c:after, .grid:after, .tabs:after {
    content: "";
    display: table; }
  /* line 80, ../stylesheets/core/_settings.sass */
  .form--inline .form-field:after, .grid--a:after, .grid--b:after, .grid--c:after, .grid:after, .tabs:after {
    clear: both; }

/* line 5, ../stylesheets/core/_base.sass */
html {
  background: #eeeeee;
  font-size: 16px; }

/* line 10, ../stylesheets/core/_base.sass */
body {
  color: #272829;
  font: 62.5%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 18, ../stylesheets/core/_base.sass */
h1, h2, h3,
h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }

/* line 22, ../stylesheets/core/_base.sass */
h1, .h1 {
  font-size: 4em; }

/* line 24, ../stylesheets/core/_base.sass */
h2, .h2 {
  font-size: 3.5em; }

/* line 26, ../stylesheets/core/_base.sass */
h3, .h3 {
  font-size: 3em; }

/* line 28, ../stylesheets/core/_base.sass */
h4, .h4 {
  font-size: 2.5em; }

/* line 30, ../stylesheets/core/_base.sass */
h5, .h5 {
  font-size: 2em; }

/* line 32, ../stylesheets/core/_base.sass */
h6, .h6 {
  font-size: 1.6em; }

/* line 37, ../stylesheets/core/_base.sass */
p {
  color: #4c4e50;
  font-size: 1.6em;
  margin: 10px 0; }

/* line 46, ../stylesheets/core/_base.sass */
a {
  color: #bd4c28;
  text-decoration: none; }
  /* line 49, ../stylesheets/core/_base.sass */
  a:hover, a:focus {
    text-decoration: underline; }

/* line 55, ../stylesheets/core/_base.sass */
em {
  font-style: italic; }

/* line 57, ../stylesheets/core/_base.sass */
strong {
  font-weight: bold; }

/* line 16, ../stylesheets/modules/_buttons.sass */
.btn--a, .btn--b, .btn {
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4em;
  padding: 10px 30px;
  text-align: center; }
  /* line 24, ../stylesheets/modules/_buttons.sass */
  .btn--a:focus, .btn--b:focus, .btn--a:hover, .btn--b:hover, .btn:focus, .btn:hover {
    text-decoration: none; }

/* line 32, ../stylesheets/modules/_buttons.sass */
.btn--a {
  background: #bd4c28;
  color: white; }
  /* line 36, ../stylesheets/modules/_buttons.sass */
  .btn--a:focus, .btn--a:hover {
    background: #a84424; }

/* line 42, ../stylesheets/modules/_buttons.sass */
.btn--b {
  background: #a5a8aa;
  color: #272829; }
  /* line 46, ../stylesheets/modules/_buttons.sass */
  .btn--b:focus, .btn--b:hover {
    background: #989b9d; }

/* line 52, ../stylesheets/modules/_buttons.sass */
.btn--block {
  display: block; }

/* line 57, ../stylesheets/modules/_buttons.sass */
.btn--large {
  font-size: 2em;
  padding-left: 100px;
  padding-right: 100px; }

/* line 64, ../stylesheets/modules/_buttons.sass */
.btn--small {
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

/* line 71, ../stylesheets/modules/_buttons.sass */
.btn--mini {
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

/* line 18, ../stylesheets/modules/_containers.sass */
.row--a, .row--b, .row--c, .row {
  margin: 0;
  padding: 20px 0; }

/* line 24, ../stylesheets/modules/_containers.sass */
.row--a {
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 28, ../stylesheets/modules/_containers.sass */
.row--b {
  background-color: #cdcecf; }

/* line 31, ../stylesheets/modules/_containers.sass */
.row--c {
  background-color: #e7e7e8; }

/* line 44, ../stylesheets/modules/_containers.sass */
.cell {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 80px;
  position: relative; }

/* line 63, ../stylesheets/modules/_containers.sass */
.card--a, .card--b, .card--c, .card {
  border-radius: 3px;
  margin: 20px 0;
  padding: 15px;
  position: relative; }

/* line 71, ../stylesheets/modules/_containers.sass */
.card--a {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 75, ../stylesheets/modules/_containers.sass */
.card--b {
  background: #cdcecf; }

/* line 78, ../stylesheets/modules/_containers.sass */
.card--c {
  background: #e7e7e8; }

/* line 90, ../stylesheets/modules/_containers.sass */
.bucket--01, .bucket--02 {
  position: relative; }

/* line 95, ../stylesheets/modules/_containers.sass */
.bucket-media {
  left: 0;
  position: absolute;
  top: 0; }

/* line 105, ../stylesheets/modules/_containers.sass */
.bucket--01 .bucket-content {
  padding-left: 90px; }

/* line 105, ../stylesheets/modules/_containers.sass */
.bucket--02 .bucket-content {
  padding-left: 65px; }

/* line 9, ../stylesheets/modules/_content.sass */
.compose h1 {
  line-height: 1.8em; }
/* line 12, ../stylesheets/modules/_content.sass */
.compose h2 {
  line-height: 2.05714em; }
/* line 15, ../stylesheets/modules/_content.sass */
.compose h3 {
  line-height: 2.4em; }
/* line 20, ../stylesheets/modules/_content.sass */
.compose p {
  margin-bottom: 1.5em; }
/* line 25, ../stylesheets/modules/_content.sass */
.compose blockquote {
  border-left: 5px solid #a5a8aa;
  color: #8b8e91;
  font-size: 2em;
  line-height: 2.4em;
  padding-left: 20px; }
/* line 34, ../stylesheets/modules/_content.sass */
.compose pre {
  background: white;
  font-family: Monaco, monospace;
  font-size: 1.4em;
  line-height: 1.71429em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px; }

/* line 15, ../stylesheets/modules/_forms.sass */
.form {
  margin: 20px 0; }

/* line 23, ../stylesheets/modules/_forms.sass */
.form--inline .form-input {
  float: left;
  margin-right: 2%;
  width: 70%; }
/* line 27, ../stylesheets/modules/_forms.sass */
.form--inline .form-submit {
  float: left;
  width: 28%; }

/* line 33, ../stylesheets/modules/_forms.sass */
input::-webkit-input-placeholder {
  color: #8b8e91; }

/* line 35, ../stylesheets/modules/_forms.sass */
input:-moz-placeholder {
  color: #8b8e91; }

/* line 37, ../stylesheets/modules/_forms.sass */
input::-moz-placeholder {
  color: #8b8e91; }

/* line 39, ../stylesheets/modules/_forms.sass */
input:-ms-input-placeholder {
  color: #8b8e91; }

/* line 44, ../stylesheets/modules/_forms.sass */
.form-header {
  margin-bottom: 10px; }

/* line 49, ../stylesheets/modules/_forms.sass */
.form-field {
  margin-bottom: 20px; }

/* line 54, ../stylesheets/modules/_forms.sass */
.form-field--submit {
  margin-top: 20px; }

/* line 59, ../stylesheets/modules/_forms.sass */
.form-label {
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 5px; }
  /* line 64, ../stylesheets/modules/_forms.sass */
  .form-label em {
    color: red; }

/* line 69, ../stylesheets/modules/_forms.sass */
.form-label--radio,
.form-label--check {
  font-size: 1.4em;
  font-weight: normal; }

/* line 76, ../stylesheets/modules/_forms.sass */
.form-note {
  color: #8b8e91;
  font-size: 1.4em;
  margin-top: 5px; }

/* line 83, ../stylesheets/modules/_forms.sass */
.form-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 1px solid #a5a8aa;
  border-radius: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  padding: 10px 8px;
  width: 100%; }
  /* line 92, ../stylesheets/modules/_forms.sass */
  .form-input:focus {
    box-shadow: 0 0 3px rbga(#bd4c28, 0.8);
    outline: none; }

/* line 98, ../stylesheets/modules/_forms.sass */
.form-select {
  width: 30%; }

/* line 48, ../stylesheets/core/_settings.sass */
.grid--a .grid-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 50, ../stylesheets/core/_settings.sass */
  .grid--a .grid-box:first-child {
    float: left;
    padding-right: 5%;
    width: 50%; }
  /* line 54, ../stylesheets/core/_settings.sass */
  .grid--a .grid-box:last-child {
    float: right;
    width: 50%; }

/* line 48, ../stylesheets/core/_settings.sass */
.grid--b .grid-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 50, ../stylesheets/core/_settings.sass */
  .grid--b .grid-box:first-child {
    float: left;
    padding-right: 5%;
    width: 60%; }
  /* line 54, ../stylesheets/core/_settings.sass */
  .grid--b .grid-box:last-child {
    float: right;
    width: 40%; }

/* line 48, ../stylesheets/core/_settings.sass */
.grid--c .grid-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 50, ../stylesheets/core/_settings.sass */
  .grid--c .grid-box:first-child {
    float: left;
    padding-right: 5%;
    width: 70%; }
  /* line 54, ../stylesheets/core/_settings.sass */
  .grid--c .grid-box:last-child {
    float: right;
    width: 30%; }

/* line 13, ../stylesheets/modules/_tables.sass */
.table {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.4em;
  margin: 20px 0;
  width: 100%; }

/* line 24, ../stylesheets/modules/_tables.sass */
.table--striped .table-body tr:nth-child(odd) {
  background: #f4f4f4; }

/* line 29, ../stylesheets/modules/_tables.sass */
.table-row {
  border-bottom: 1px solid #a5a8aa; }
  /* line 34, ../stylesheets/modules/_tables.sass */
  .table-row th, .table-row td {
    padding: 8px; }
  /* line 37, ../stylesheets/modules/_tables.sass */
  .table-row th {
    font-weight: bold;
    text-align: left; }
  /* line 43, ../stylesheets/modules/_tables.sass */
  .table-row td .btn {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px; }

/* line 12, ../stylesheets/modules/_tabs.sass */
.tabs {
  margin: 20px 0 0; }

/* line 18, ../stylesheets/modules/_tabs.sass */
.tab {
  float: left;
  font-size: 16px; }
  /* line 21, ../stylesheets/modules/_tabs.sass */
  .tab a {
    border-radius: 3px 3px 0 0;
    background: #dadbdb;
    color: #272829;
    display: block;
    margin-right: 10px;
    padding: 8px 25px; }
    /* line 28, ../stylesheets/modules/_tabs.sass */
    .tab a.is-active {
      background: white; }

/* line 33, ../stylesheets/modules/_tabs.sass */
.tabs-content {
  border-radius: 0 0 3px 3px;
  display: none;
  margin-top: 0; }
  /* line 37, ../stylesheets/modules/_tabs.sass */
  .tabs-content.is-visible {
    display: block; }

/* line 45, ../stylesheets/application.sass */
.siteHeader {
  background: #272829;
  box-shadow: none; }
  /* line 48, ../stylesheets/core/_settings.sass */
  .siteHeader .grid .grid-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 50, ../stylesheets/core/_settings.sass */
    .siteHeader .grid .grid-box:first-child {
      float: left;
      padding-right: 5%;
      width: 65%; }
    /* line 54, ../stylesheets/core/_settings.sass */
    .siteHeader .grid .grid-box:last-child {
      float: right;
      width: 35%; }
  /* line 50, ../stylesheets/application.sass */
  .siteHeader h1, .siteHeader h2 {
    color: white; }
  /* line 52, ../stylesheets/application.sass */
  .siteHeader h2 {
    font-size: 2.4em;
    color: #8b8e91;
    font-weight: normal; }
  /* line 56, ../stylesheets/application.sass */
  .siteHeader .btn--a {
    font-size: 1.8em;
    margin-top: 25px; }

/* line 48, ../stylesheets/core/_settings.sass */
.content .grid .grid-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  /* line 50, ../stylesheets/core/_settings.sass */
  .content .grid .grid-box:first-child {
    float: left;
    padding-right: 5%;
    width: 20%; }
  /* line 54, ../stylesheets/core/_settings.sass */
  .content .grid .grid-box:last-child {
    float: right;
    width: 80%; }

/* line 67, ../stylesheets/application.sass */
.example h4 {
  margin-bottom: 10px; }

/* line 72, ../stylesheets/application.sass */
.example-label {
  background: #e7e7e8;
  font-family: Monaco, monospace;
  font-size: 1.2em;
  padding: 10px 24px;
  position: absolute;
  right: 0;
  top: -10px; }

/* line 83, ../stylesheets/application.sass */
.example-label--b {
  top: 0; }

/* line 88, ../stylesheets/application.sass */
.example-markup {
  background: #e7e7e8;
  font-family: Monaco, monospace;
  font-size: 1.3em;
  margin-top: 10px;
  overflow-x: scroll;
  padding: 10px 24px; }

/* line 98, ../stylesheets/application.sass */
.example-markup--b {
  background: white; }

/* line 103, ../stylesheets/application.sass */
.sectionList li {
  font-size: 1.6em;
  margin-top: 15px; }
  /* line 106, ../stylesheets/application.sass */
  .sectionList li a {
    color: #272829;
    display: block;
    margin-bottom: 10px; }
    /* line 110, ../stylesheets/application.sass */
    .sectionList li a.active {
      color: #bd4c28; }
